/* ==========================================
   Signup Page
========================================== */

.signup-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;

    position:relative;

}

.signup-card{

    width:100%;

    max-width:560px;

    padding:40px;

    text-align:center;

}

.signup-logo{

    width:240px;

    margin:0 auto 30px;

    animation:floatLogo 5s ease-in-out infinite;

}
/* ==========================================
   Username
========================================== */

#username{

    text-transform:lowercase;

}

#usernameMessage{

    margin-top:6px;

    transition:.2s;

}

.username-valid{

    color:var(--nv-success);

}

.username-invalid{

    color:var(--nv-danger);

}

.username-check{

    color:var(--nv-warning);

}
/* ==========================================
   Full Name
========================================== */

#displayName{

    text-transform:none;

}

#displayNameMessage{

    margin-top:6px;

    transition:.2s;

}

.display-valid{

    color:var(--nv-success);

}

.display-invalid{

    color:var(--nv-danger);

}
/* ==========================================
   Email
========================================== */

#email{

    text-transform:lowercase;

}

#emailMessage{

    margin-top:6px;

    transition:.2s;

}

.email-valid{

    color:var(--nv-success);

}

.email-invalid{

    color:var(--nv-danger);

}
